
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;1,100&family=Lora:ital@0;1&family=Roboto+Slab:wght@200;300&display=swap');

*{
font-family: 'Fira Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Roboto Slab', serif;
}

body{
  margin: 0 auto; 
}
/* tete de page*/
.header{
display: flex;
align-items: center;
}
header.header img{
  width: 120px;
}

/* navigation*/
.nav{
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 150px;
}
.image-principale{
  background-size: cover;
  height: 25%;
  padding: 25px;
}
