
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;1,100&family=Lora:ital@0;1&family=Roboto+Slab:wght@200;300&display=swap');

body{
  margin: 0 auto; 
  padding: 0;
  font-family: 'Fira Sans','Lora','Roboto Slab',sans-serif;
}

/* tete de page*/
.header{
display: flex;
align-items: center;
}
#bloc-page{
  display: flex;
  justify-content: space-around;
}
.header img{
  flex: 1 1 40rem;
}

/* navigation*/
nav{
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-left: 50px;
  align-items: center;
  font-size: 40px;
}

nav a{
  text-decoration: none;
}

/* image principale*/
.image-principale{
  background-size: cover;
  height: 90vh;
  padding: 25px;
  width: 100%;
}

/* premiere-partie*/
#premiere-partie .left p{
flex: 0 0 30%;
padding: 20px;
flex-wrap: wrap;

}
#premiere-partie .right img{
  height: 400px;
  withd:300px
  justify-content:center;
  