
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;1,100&family=Lora:ital@0;1&family=Roboto+Slab:wght@200;300&display=swap');

*{
font-family: 'Fira Sans''Lora''Roboto Slab', sans-serif;
}

body{
  margin: 0; 
  padding: 0;
}
/* logo*/
.logo{
  width: 50px;
  height: 90px;
  margin-right: -600px;
  margin-bottom: 250px;

  
}

/* navigation*/
.menu-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 3px;
  margin-left:300px;
  margin-top: -50px;
  margin-bottom: 250px;
}

/* image principela*/
.image-principale{
  background-size: cover;
  width: 100%;
  margin-bottom: 60px;
}
/* premiere-partie */
.premiere-partie {
  width: 100%;
 display: flex;
 justify-content: space-between;
 margin-right: 20px;
}
.premiere-partie .article p{
  margin-right: 50px;
}
.premiere-partie img {
  width: 40em;
  height: 30em;
}
.premiere-partie h2{
  font-size: 40x;
  font-family: 'Fira Sans';
  margin-left: 20px;
}
/* seconde-partie */

.photos{
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 10px;
  /*margin:10%;*/
  margin-bottom: 100%;

}
h2{
  text-align: center;
}